@model Pk.Models.Computador

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes";

}

<html>

<body>
    <section class="section-detalhes">
        <div class="coluna-1-detalhes">
            <div class="card card-computador">
                <div class="card-header bg-header">
                    <h3>Computador</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <input type="hidden" asp-for="Id">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Tombamento): <a href="" class="botao-acao1"
                                data-toggle="modal" data-target="#modalMovimentacao"><i
                                    class="fas fa-exchange-alt"></i></a>
                            <a class="botao-acao2" asp-controller="Monitores" asp-action="Teste" asp-route-computadorId="@Model.Id"><i class="fas fa-desktop"></i></a>
                            <a class="botao-acao3" asp-action="Editar" asp-route-id="@Model.Id"><i
                                    class="fas fa-cogs"></i></a>
                            <a href="" class="botao-acao4"><i class="fas fa-trash-alt"></i></a>

                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Tombamento)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Marca):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Marca)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Modelo):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Modelo)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Processador):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Processador)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Memoria):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Memoria)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.ArmazenamentoInterno):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.ArmazenamentoInterno)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Status):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Responsavel):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Responsavel)
                        </dd>
                        <dt class="col-sm-4 border-top-card-body">
                            @Html.DisplayNameFor(model => model.Observacao):
                        </dt>
                        <dd class="col-sm-8 border-top-card-body">
                            @Html.DisplayFor(model => model.Observacao)
                        </dd>
                    </dl>
                </div>

            </div>

            <div class="card card-movimentacao">
                <div class="card-header bg-header-movimentacao">
                    <h5> <b>Movimentações</b></h5>
                </div>
                <div class="card-body" style="padding: 0px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Setor</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    GTI
                                </td>
                                <td>
                                    10/04/2021 09:45
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    GTI
                                </td>
                                <td>
                                    10/04/2021 09:45
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    GTI
                                </td>
                                <td>
                                    10/04/2021 09:45
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        @* <div class="coluna-2-detalhes">
            @foreach (var item in Model.Monitores)
            {
                <div class="card card-monitor">
                    <div class="card-header bg-header-monitor">
                        <h3>Monitor</h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">
                                Tombamento
                                <a asp-action="Desvincular" asp-route-id="@item.Id" asp-controller="Monitores" class="botao-desvincular"><i class="fas fa-skull"></i></a>
                            </dt>
                            <dd class="col-sm-8">
                                @item.Tombamento
                            </dd>
                            <dt class="col-sm-4 border-top-card-body">
                                Modelo
                            </dt>
                            <dd class="col-sm-8 border-top-card-body">
                                @item.Modelo
                            </dd>
                            <dt class="col-sm-4 border-top-card-body">
                                Descrição
                            </dt>
                            <dd class="col-sm-8 border-top-card-body">
                                @item.Descricao
                            </dd>
                        </dl>
                    </div>
                </div>
            }

        </div> *@

    </section>

</body>


@Html.Partial("/Views/Shared/_ModalMovimentacao.cshtml")

</html>