@model Pk.Models.Equipamento

@{
    Layout = "_Layout";
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>

<body>

    <div class="card card-monitor-detalhes">
        <div class="card-header bg-header">
            <h3>Monitor</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <input type="hidden" asp-for="Id">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Tombamento): <a href="" class="botao-acao1-monitor"
                        data-toggle="modal" data-target="#modalMovimentacaoMonitor"><i
                            class="fas fa-exchange-alt"></i></a>
                    <a class="botao-acao3-monitor" asp-action="Editar" asp-route-id="@Model.Id"><i
                            class="fas fa-cogs"></i></a>
                    <a href="" class="botao-acao2-monitor" data-toggle="modal" data-target="#modalHistoricoMovimentacaoMonitor"><i
                            class="fas fa-history"></i></a>
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Tombamento)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Categoria)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Marca.Descricao)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Responsavel)
                </dt>
                @if (Model.Responsavel is null)
                {
                    <dd class="col-sm-7 border-top-card-body text-danger">
                        Sem responsável
                    </dd>
                }
                else
                {
                    <dd class="col-sm-7 border-top-card-body">
                        @Html.DisplayFor(model => model.Responsavel)
                    </dd>
                }
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Observacao)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Observacao)
                </dd>
            </dl>
        </div>
</body>

</html>