@model Pk.Models.Monitor

@{
    Layout = "_Layout";
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>

<body>

    <div class="card card-monitor-detalhes">
        <div class="card-header bg-header">
            <h3>Monitor</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Tombamento)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Tombamento)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Modelo)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Computador)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Computador.Tombamento)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-5 border-top-card-body">
                    @Html.DisplayNameFor(model => model.Observacao)
                </dt>
                <dd class="col-sm-7 border-top-card-body">
                    @Html.DisplayFor(model => model.Observacao)
                </dd>
            </dl>
        </div>

    </div>

    @*
        TABELA MOVIMENTAÇÃO
    *@
    <div class="card card-movimentacao">
        <div class="card-header bg-header-movimentacao">
            <h5> <b>Movimentações</b></h5>
        </div>
        <div class="card-body" style="padding: 0px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Setor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            GTI
                        </td>
                        <td>
                            10/04/2021 09:45
                        </td>
                    </tr>
                    <tr>
                        <td>
                            GTI
                        </td>
                        <td>
                            10/04/2021 09:45
                        </td>
                    </tr>
                    <tr>
                        <td>
                            GTI
                        </td>
                        <td>
                            10/04/2021 09:45
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    @*
        MODAL MOVIMENTAÇÃO
    *@
    <div class="modal fade" id="modalMovimentacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Destino</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Setor" class="col-form-label">Setor:</label>
                        <input type="text" class="form-control" id="ModalSetor">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <input type="submit" class="btn btn-primary" data-dismiss="modal" onclick="addItem()" />
                </div>
            </div>
        </div>
    </div>

</body>

<script src="~/js/pages/movimentacaoMonitor.js" asp-append-version="true"></script>
</html>