@model IEnumerable<Pk.Models.Monitor>

@{
    ViewData["Title"] = "Monitores";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <p>
            <a asp-action="Criar" class="botao-add"><i class="fas fa-plus"></i></a>
        </p>
        <form asp-controller="Monitores" asp-action="Index" method="get">
            <p>
                Title: <input type="text" name="SearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>

    <table class="table table-striped">
        <thead class="thead-computador">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tombamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tombamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Detalhes" class="botao-visualizar btn" asp-route-id="@item.Id">Detalhes</a>
                        @* <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                            <a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
@if (@ViewBag.monitorNaoEncontrado == false)
{
       <div class="col-md-12">
       <br>
     <div class="row">
         <div class="alert alert-danger" role="alert" style="margin: auto; opaticy: 0.5;">
            <h4 class="alert-heading">MONITOR NÃO ENCONTRADO!</h4>
            <p>Verifique se o <b>Tombamento</b> do monitor foi digitado corretamente.</p>
          </div>
    </div>

   </div>
}
else {
    
}

</body>